body{
    background-color: #3f7cc5;
    background-image: url(gif/private\ plane.jpg);

}
header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto auto;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family: lucida console, courier new;
    color: coral;

}
#logo {
    grid-column-start: 2;
    grid-column-end: 3;



}
#exit {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 2%;
    padding: 5px;
    border-radius: 10px;

}
#username {
    background-color: rgb(31, 96, 161);
    border: 5px outset rgb(18, 54, 91);
    border-radius: 25px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;

}
#kysymysnro {
    background-color: rgb(31, 96, 161);
    border: 5px outset rgb(18, 54, 91);
    border-radius: 25px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;


}

main {

}

#kysymysalue {
    diplay: grid;
    grid-template-rows: auto auto;
    border: 10px outset rgb(18, 54, 91);
    border-radius: 25px;
    text-align: center;
    padding: 50px;
    margin: 5px;
    height: auto;
    background-color: rgb(31, 96, 161);
    font-family: 'Courier New', Courier, monospace;
    color: coral;

}
#reaction_text{
    grid-row-start: 1;
    grid-row-end:2;

}
footer{

}
#vastausalue {
    text-align: center;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: coral;
}


#vastausalue input {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);
}

#vastausalue button {
    width: 20%;
    padding: 25px;
    margin: 2%;
    border-radius: 25px;
    background-color: white;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);

}




#vastausalue button:hover {
    background-color: lightgray;
    border-radius: 25px;
}


#oljenkorsialue {

}

#vihjealue {

}

#vastausnappi {

}

#oljenkorsinappi {

}

.hidden {
    display: none;
}

.continue_button {
    padding: 25px;
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);
}

#right_image{
    width:40%;
    grid-row-start: 2;
    grid-row-end:3;
}

#game_over_image{
    width:40%;
    grid-row-start: 2;
    grid-row-end:3;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
    #vastausalue button {
    width: 100%;}
}